/* Color and General Vars */
$baseOrange: #812e06;
$orange: #e34f2d;
$red: #d9332b;
$orangeA: #e3842d;
$orangeB: #d9952b;
$grey: #333;

$_black: #0f0f0f;
$_bgGrey: #fbfbfb;
$_pureWhite: #fff;

$background-white: $_pureWhite;
$text-white: $_pureWhite;
$background-grey: $_bgGrey;
$text-black: $_black;
$border-white: $_pureWhite;
