/* Color and General Vars */
$baseOrange: #cc6633;
$orange:#E34F2D;
$red:#D9332B;
$orangeA:#E3842D;
$orangeB:#D9952B;
$white: #fff;
$black: #0f0f0f;
$grey:#333;
$bgGrey:#fbfbfb;
$fontFamily:'M PLUS Rounded 1c',
sans-serif;

/* Mixins */
@mixin fontLight {
  font-family: $fontFamily;
  font-weight: 300;
}

@mixin fontRegular {
  font-family: $fontFamily;
  font-weight: 400;
}

@mixin fontBold {
  font-family: $fontFamily;
  font-weight: 700;
}

@mixin fontBlack {
  font-family: $fontFamily;
  font-weight: 900;
}